body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

#title {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

main {
  position: relative;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  display: flex;
  margin: auto;
  margin-top: 10%;
  align-items: center;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

.image {
  width: 100%;
  height: 100%;
}

#product-image {
  width: 100%;
  height: 100%;
}

#content {
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 25px;
  
}

.product-price {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  height: 20px;
  padding-left: 30px;
  margin: 10px;
}

#price-now{
  width: auto;
  font-weight: bold;
  font-size: 30px;
  font-family: "Fraunces", sans-serif;
  color: hsl(158, 36%, 37%);
  
}

#previous-price {
  width: auto;
  font-size: small;
  font-family: "Fraunces", sans-serif;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.title-product, .product-name, .description {
  padding-left: 30px;
  margin: 10px;
}

.product-name {
  font-family: "Fraunces", sans-serif;
  width: 55%;
}

.description {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  width: 80%;
}

.cart-button{
  align-items: center;
  padding-left: 30px;
  margin: auto;
  
}

#button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  height: 30px;
  border-radius: 10px;
  border: 1px;
}
